@import '_mixins';
// pour importer un élément: @include absolute-el()
@import '_placeholders'; 
// pour importer un élément: @extend %lenomdetonplaceholder
@import '_variables';
// pour importer un élément: $exemplecouleur

*{
    margin:0;
    padding:0;
}

body{
    font-family:Arial, Helvetica, sans-serif ;
}