@media only screen and (min-width: 1023px) {

@import '_mixins';
// pour importer un élément: @include absolute-el()
@import '_placeholders'; 
// pour importer un élément: @extend %lenomdetonplaceholder
@import '_variables';
// pour importer un élément: $exemplecouleur
    
.form-container{
    display: flex;
    justify-content: center;
}

.form-control input,
.form-control textarea{
    width: 70em;
}

}